htpasswd
.DS_Store
*.pyc
*$py.class
*~
.sw*
.*.sw*
dist/
*.egg-info
*.egg
*.egg/
*.eggs/
build/
.build/
_build/
pip-log.txt
.directory
*.db
.tox/
.project
.pydevproject
.idea/
.coverage
.ve*
cover/
.cache/
.hypothesis/
.mypy_cache/
.pytest_cache/
htmlcov/
.pymon
*-cache*
.checkpoint
.python-version
.pyre/
.dmypy.json
*.so

# virtualenvs
/env
/venv

# ide
.vscode/
.idea/
